@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<p>
    This is a bookstore management application. Managers can add books to the system, and Sales Executives can sell books based on the available inventory.
</p>
