@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>
<p>
    If you have any questions, please reach out to us at:
</p>
<ul>
    <li>Email: support@bookstore.com</li>
    <li>Phone: +1-800-BOOKS</li>
    <li>Address: 123 Bookstore Lane, Booktown, USA</li>
</ul>
