@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to the Bookstore Management System!</h1>
    <p class="lead">
        Manage your books efficiently with our system. Use role-based features for adding or selling books.
    </p>
    <p>
        <a href="/Account/Login" class="btn btn-primary btn-lg">Log In</a>
        <a href="/Account/Register" class="btn btn-secondary btn-lg">Register</a>
    </p>
</div>
